.hero-banner
  section.carry-pro
    .content 
      .col
        img.carry-pro__function(src="./assets/img/suzuki-myanmar-carry-pro-funciton.png", alt="")
        img.carry-pro__message(src="./assets/img/suzuki-myanmar-carry-pro-message.png", alt="")
        .carry-pro__info
          div
            img.carry-pro__logo(src="./assets/img/suzuki-myanmar-carry-pro-logo.png", alt="")
            a.btn(href="#")
              span.txt Learn More
              span.ico
                img(src="./assets/img/plus.png", alt="")
            a.btn--solid--primary(href="#")
              span.txt Test Drive
              span.ico 
                img(src="./assets/img/test-drive-white.png", alt="")
