header
  nav.nav--pc
    section
      ul.nav-list
        li
          a(href="#") 
            img.nav-list__logo(src="./assets/img/suzuki-myanmar-logo.png", alt="suzuki myanmar logo")
        li.car-model 
          a(href="#") Model
          .megamenu
            .megamenu__wrapper
            .megamenu__content
              .car-model
                ul.car-model__list
                  li.title
                    span Passenger
                  li
                    a(href="#") 
                    img(src="./assets/img/suzuki-myanmar-swift-white.png", alt="suzuki myanmar swift white")
                    | Swift
                  li
                    a(href="#") 
                    img(src="./assets/img/suzuki-myanmar-ciaz-white.png", alt="suzuki myanmar ciaz white")
                    | Ciaz
                  li 
                    a(href="#") 
                    img(src="./assets/img/suzuki-myanmar-ertiga-white.png", alt="suzuki myanmar ertiga white")
                    | Ertiga
              .car-model  
                ul.car-model__list
                  li.title
                    span Commercial
                  li
                    a(href="#") 
                    img(src="./assets/img/suzuki-myanmar-carry-pro.png", alt="suzuki myanmar carry pro")
                    | Carry Pro
        li 
          a(href="#") After Sales
          .megamenu
            .megamenu__wrapper
            .megamenu__content
              ul.sublink
                li 
                  a(href="#") Services
                li 
                  a(href="#") Spare Parts
                li 
                  a(href="#") Spare Parts
        li 
          a(href="#") Corporate
          .megamenu
            .megamenu__wrapper
            .megamenu__content
              ul.sublink
                li 
                  a(href="#") About Us
                li 
                  a(href="#") Career
                li 
                  a(href="#") News
                li 
                  a(href="#") Press Release
                li 
                  a(href="#") FAQs
      ul.nav-list--secondary
        li
          a(href="#") 
            span.ico.ico-globe
            | Global
        li.search.search--pc
          a(href="#")
            span.ico.ico-search
            | Search
          form
            input(type="text", placeholder="search")
            img.search__close(src="./assets/img/suzuki-myanmar-close.png", alt="suzuki myanmar close search")
          
        //- active
        //- english : active--en
        //- myanmar : active--my
        li.lang-switch.active--en
          b EN
          span
          b MM

  nav.nav--mb 
    section
      a(href="#") 
        img.nav-list__logo(src="./assets/img/suzuki-myanmar-logo.png", alt="suzuki myanmar logo")
      ul.drawer
        li 
          a(href="#")
            span.ico.ico-globe
        li.lang-switch.active--en
          b EN
          span
          b MM
        li
          span.ico.ico-stack
