article#drawer-menu
  section
    .header 
      img.header__logo(src="./assets/img/suzuki-myanmar-logo.png", alt="")
      img.header__close(src="./assets/img/suzuki-myanmar-close-dark.png")

    ul.nav-list
      li.nav-list--item
        h3 Model
        p.car-model--title Passenger
        ul.car-model--list.passenger
          li
            a(href="#") 
              img(src="./assets/img/suzuki-myanmar-swift-white.png", alt="")
              p Swift
          li
            a(href="#") 
              img(src="./assets/img/suzuki-myanmar-ciaz-white.png", alt="")
              p Ciaz
          li
            a(href="#") 
              img(src="./assets/img/suzuki-myanmar-ertiga-white.png", alt="")
              p Ertiga
        p.car-model--title Commercial
        ul.car-model--list.commercial
          li
            a(href="#") 
              img(src="./assets/img/suzuki-myanmar-swift-white.png", alt="")
              p Swift
          li
            a(href="#") 
              img(src="./assets/img/suzuki-myanmar-ciaz-white.png", alt="")
              p Ciaz
          li
            a(href="#") 
              img(src="./assets/img/suzuki-myanmar-ertiga-white.png", alt="")
              p Ertiga
      li.nav-list--item
        h3 After Sales
        .row
          .col--4 
            a(href="#") Services
          .col--4 
            a(href="#") Spare Parts
      li.nav-list--item
        h3 Corporate
        .row
          .col--4 
            a(href="#") About Us
          .col--4 
            a(href="#") News
          .col--4 
            a(href="#") FAQs
          .col--4
            a(href="#") Careers
          .col--4 
            a(href="#") Press Releses

    .row.social-menu
      .col--4.txt--center
        a(href="#") 
          img(src="./assets/img/suzuki-global.png", alt="")
          span Global
      .col--4.txt--center
        a(href="#")
          img(src="./assets/img/suzuki-myanmar-facebook.png", alt="")
          span Facebook
      .col--4.txt--center
        a(href="#")
          img(src="./assets/img/suzuki-myanmar-youtube.png", alt="")
          span Youtube
          
header
  nav.nav--pc
    section
      ul.nav-list
        li
          a(href="#") 
            img.nav-list__logo(src="./assets/img/suzuki-myanmar-logo.png", alt="suzuki myanmar logo")
        li.car-model 
          a(href="#") Model
          .megamenu
            .megamenu__wrapper
            .megamenu__content
              .car-model
                ul.car-model__list
                  li.title
                    span Passenger
                  li
                    a(href="#") 
                    img(src="./assets/img/suzuki-myanmar-swift-white.png", alt="suzuki myanmar swift white")
                    | Swift
                  li
                    a(href="#") 
                    img(src="./assets/img/suzuki-myanmar-ciaz-white.png", alt="suzuki myanmar ciaz white")
                    | Ciaz
                  li 
                    a(href="#") 
                    img(src="./assets/img/suzuki-myanmar-ertiga-white.png", alt="suzuki myanmar ertiga white")
                    | Ertiga
              .car-model  
                ul.car-model__list
                  li.title
                    span Commercial
                  li
                    a(href="#") 
                    img(src="./assets/img/suzuki-myanmar-carry-pro.png", alt="suzuki myanmar carry pro")
                    | Carry Pro
        li 
          a(href="#") After Sales
          .megamenu
            .megamenu__wrapper
            .megamenu__content
              ul.sublink
                li 
                  a(href="#") Services
                li 
                  a(href="#") Spare Parts
                li 
                  a(href="#") Spare Parts
        li 
          a(href="#") Corporate
          .megamenu
            .megamenu__wrapper
            .megamenu__content
              ul.sublink
                li 
                  a(href="#") About Us
                li 
                  a(href="#") Career
                li 
                  a(href="#") News
                li 
                  a(href="#") Press Release
                li 
                  a(href="#") FAQs
      ul.nav-list--secondary
        li
          a(href="#") 
            span.ico.ico-globe
            | Global
        li.search.search--pc
          a(href="#")
            span.ico.ico-search
            | Search
          form
            input(type="text", placeholder="search")
            img.search__close(src="./assets/img/suzuki-myanmar-close.png", alt="suzuki myanmar close search")
          
        //- active
        //- english : active--en
        //- myanmar : active--my
        li.lang-switch.active--en
          b EN
          span
          b MM

  nav.nav--mb 
    div
      a(href="#") 
        img.nav-list__logo(src="./assets/img/suzuki-myanmar-logo.png", alt="suzuki myanmar logo")
      ul.drawer
        li 
          a(href="#")
            span.ico.ico-globe
        li.lang-switch.active--en
          b EN
          span
          b MM
        li
          span.ico.ico-stack

section.float-icn
  div.pallet
  div.pallet
  div.pallet
  div.pallet

  img.float-icn__close(src="./assets/img/close.png", alt="")

section.float-menu 
  a.menu(href="http://") 
    .float-img
      img.dark(src="./assets/img/suzuki-myanmar-test-drive-float-icn.png", alt="")
      img.light(src="./assets/img/suzuki-myanmar-test-drive-white-float-icn.png", alt="")
    .float-info 
      span Test Information
  a.menu(href="#")
    .float-img
      img.dark(src="./assets/img/suzuki-myanmar-hire-purchase-black-float-icn.png", alt="")
      img.light(src="./assets/img/suzuki-myanmar-hire-purchase-white-float-icn.png", alt="")
    .float-info 
      span Test Information
  a.menu(href="#")
    .float-img
      img.dark(src="./assets/img/suzuki-myanmar-get-offer-black-float-icn.png", alt="")
      img.light(src="./assets/img/Get-Offer-White.png", alt="")
    .float-info 
      span Test Information
  a.menu(href="#")
    .float-img
      img.dark(src="./assets/img/suzuki-myanmar-dealer-black-icn.png", alt="")
      img.light(src="./assets/img/suzuki-myanmar-dealer-white-icn.png", alt="")
    .float-info 
      span Test Information

